
<div style="width:512px;">

  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-6">
        <div class="field">
          <div class="field-label"><span class="field-spacer"></span><span class="field-name">name:&nbsp;</span></div>
          <input pInputText type="text" [(ngModel)]="person.name" (ngModelChange)="onModelChange()"/>
        </div>
      </div>
      <div class="ui-grid-col-6">
        <div class="field">
          <div class="field-label"><span class="field-spacer"></span><span class="field-name">category:&nbsp;</span></div>
          <input pInputText type="text" [(ngModel)]="person.category" (ngModelChange)="onModelChange()"/>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <div class="field">
          <div class="field-label"><span class="field-spacer"></span><span class="field-name">description:&nbsp;</span></div>
          <input pInputText type="text" [(ngModel)]="person.description" (ngModelChange)="onModelChange()"/>
        </div>
      </div>
      <div class="action-icon">
        <i class="fa fa-picture-o" (click)="onImage()"></i>
        <input #inputFile hidden type="file" (change)="onInputFile()">
      </div>
    </div>
  </div>

  <div style="height:20px;"></div>

  <div class="person-edit-actions">
    <button pButton type="button" icon="fa-times" (click)="onDelete()" class="ui-button-secondary" style="color:maroon;width:32px;"></button>
    <div style="flex:1;"></div>
    <input pInputText type="email" [disabled]="working" [(ngModel)]="person.email" placeholder="email" (ngModelChange)="onModelChange()" style="margin-right:10px;width:256px;"/>
    <button *ngIf="person.email" [disabled]="working" pButton type="button" icon="fa-share-alt-square" label="invite" (click)="onInvite()"></button>
  </div>

  <div style="height:20px;"></div>

  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <img *ngIf="working" src="assets/working.gif">
    </div>
    <div class="ui-toolbar-group-right">
      <span>&nbsp;</span>
      <button [disabled]="working" pButton type="button" label="ok" (click)="onOK()"></button>
    </div>
  </p-toolbar>

</div>
