
.account-container {
  margin: 10px;
  font-size: .85em;
}

.account-label {
  color: cornflowerblue;
  font-weight: bold;
  font-style: italic;
}

.account-avatar {
  background: white;
  border:1px solid cornflowerblue;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
}

.ui-steps .ui-steps-item {
  width: 20%;
}

