
<div class="fleet-new-container">

  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-6">
        <span class="fleet-new-label">name</span>
        <input pInputText type="text" placeholder="..." [(ngModel)]="fleetvm.name" (ngModelChange)="validation()"/>
      </div>
      <div class="ui-grid-col-6">
        <span class="fleet-new-label">description</span>
        <input pInputText type="text" placeholder="..." [(ngModel)]="fleetvm.description" (ngModelChange)="validation()"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-6">
        <span class="fleet-new-label">type</span>
        <input pInputText type="text" placeholder="..." [(ngModel)]="fleetvm.type" (ngModelChange)="validation()"/>
      </div>
      <div class="ui-grid-col-6">
        <span class="fleet-new-label">category</span>
        <input pInputText type="text" placeholder="..." [(ngModel)]="fleetvm.category" (ngModelChange)="validation()"/>
      </div>
    </div>
  </div>

  <div style="height:20px;"></div>

  <div>
    <span class="fleet-new-label">image</span>
    <p-fileUpload name="image" accept="image/*" maxFileSize="2097152" customUpload="true" [style]="{'font-size':'.85em'}"
                  [showUploadButton]="false" [showCancelButton]="false" (onSelect)="onSelect($event.files)">
    </p-fileUpload>
  </div>

  <div style="height:20px;"></div>

  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <p-progressSpinner *ngIf="working" [style]="{'height':'1em'}"></p-progressSpinner>
    </div>
    <div class="ui-toolbar-group-right">
      <span>&nbsp;</span>
      <i *ngIf="validated && !working" class="fa fa-plus-circle" style="cursor:pointer;" pTooltip="add new fleet" showDelay="750" (click)="onAdd()"></i>
    </div>
  </p-toolbar>

</div>
