
.fleet-container {
  font-size: .85em;
  margin: 10px;
}

.fleet-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fleet-stack {
  margin-right: 15px;
  cursor: pointer;
}

.fleet-icon {
  text-shadow: 2px 2px 5px #555555;
}

.fleet-superscript {
  position: absolute;
  margin-left: -4px;
  font-size: .75em;
  color: #AAFFFF;
}

.fleet-panel {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  box-shadow: 3px 3px 5px rgba( 100,100,100,.25 );
  border-radius: 5px;
  border: 2px solid #BBBBBB;

  margin: 8px;

  cursor: pointer;
}

.fleet-panel:hover {
  border: 2px solid #8899DD;
}

.ui-toolbar {
  border: none;
  background-color: #DDDDEE;
  /*background: linear-gradient( to right, transparent,#8095C5 );*/
}

.ui-datagrid {
  background: transparent;
  border: none;
}
.ui-datagrid-header {
  background: transparent;
  border: none;
}
.ui-datagrid-footer {
  background: transparent;
  border: none;
}
.ui-datagrid-content {
  background: transparent;
  border: none;
}
