
<div class="fleet-container">

  <!--
  <p-toolbar>
    <div class="ui-toolbar-group-left">
    </div>

    <div class="ui-toolbar-group-right">
      <span class="fleet-stack" pTooltip="add fleet" showDelay="750" (click)="onAddFleet()">
        <i class="fa fa-bus" style="color:#DDDDDD;"></i>
        <i class="fa fa-bus" style="color:#EEEEEE;margin-left:-3px;"></i>
        <i class="fa fa-bus" style="color:#FFFFFF;margin-left:-3px;"></i>
        <i class="fa fa-plus fleet-superscript"></i>
      </span>
      <span *ngIf="selectedfleet != null" class="fleet-stack" pTooltip="add transporter" showDelay="750" (click)="onAddTransporter()">
        <i class="fa fa-bus"></i>
        <i class="fa fa-plus fleet-superscript"></i>
      </span>
      <i class="fa fa-refresh" style="cursor:pointer;" (click)="onRefresh()"></i>
    </div>
  </p-toolbar>
  -->

  <p-toolbar>
    <div class="ui-toolbar-group-left"></div>
    <div class="ui-toolbar-group-right">
      <button pButton type="button" label="add a fleet" icon="fa-bus" (click)="onAddFleet()"></button>
      <button pButton type="button" label="delete fleet" icon="fa-bus" (click)="onDeleteFleet()" *ngIf="selectedfleet != null" class="ui-button-secondary" style="color:maroon;"></button>
      <button pButton type="button" label="add a transporter" icon="fa-truck" (click)="onAddTransporter()" *ngIf="selectedfleet != null"></button>
      <i class="fa fa-refresh" style="cursor:pointer;margin-left:5px;" (click)="onRefresh()"></i>
    </div>
  </p-toolbar>

  <p-dataGrid [value]="fleets" emptyMessage="&nbsp;" [rows]="1"
    [hidden]="fleets.length === 0" [@grid-animation]="fleets.length">
    <ng-template let-fleet pTemplate="item">
      <p-panel [header]="fleet.name" styleClass="fleet-panel" (click)="onFleet(fleet)" [@fleet-state]="fleet.state">
        <img src="{{fleet.imageURL}}" width="150" height="125" style="object-fit: cover;">
        <div class="fleet-text">{{fleet.type}}</div>
      </p-panel>
    </ng-template>
  </p-dataGrid>

  <div *ngIf="selectedfleet != null" [@fleet-edit]>
    <app-fleet-edit [fleetid]="selectedfleet.id"></app-fleet-edit>
  </div>

  <div *ngIf="selectedfleet != null" [@fleet-transporters]>
    <app-fleet-transporters [fleetid]="selectedfleet.id" [refresh]="refresher"></app-fleet-transporters>
  </div>

</div>

<p-dialog [(visible)]="showfleetnew" [modal]="true" [resizable]="true" appendTo="body">
  <p-header>
    add a new fleet
  </p-header>
  <app-fleet-new *ngIf="showfleetnew" (finished)="onFinishedFleetNew()"></app-fleet-new>
</p-dialog>

<p-dialog [(visible)]="showfleettransporternew" [modal]="true" [resizable]="true" appendTo="body">
  <p-header>
    add a new transporter
  </p-header>
  <app-fleet-transporter-new *ngIf="showfleettransporternew" [fleetid]="selectedfleet.id" (finished)="onFinishedFleetTransporterNew()"></app-fleet-transporter-new>
</p-dialog>
