
<div class="follow-container">

  <!--
  <p-toolbar>
    <div class="ui-toolbar-group-left">
    </div>

    <div class="ui-toolbar-group-right">
      <i class="fa fa-refresh" style="cursor:pointer;" (click)="onRefresh()"></i>
    </div>
  </p-toolbar>
  -->

  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <!--
      <span style="cursor:pointer;color:#6688AA;font-weight:normal;" (click)="showall=true">
        <i *ngIf="showall" class="fa fa-circle"></i>
        <i *ngIf="!showall" class="fa fa-circle-o"></i>
        show all transporters
      </span>
      <span style="cursor:pointer;color:#6688AA;margin-left:15px;font-weight:normal;" (click)="showall=false">
        <i *ngIf="!showall" class="fa fa-circle"></i>
        <i *ngIf="showall" class="fa fa-circle-o"></i>
        show only selected transporter
      </span>
      -->
    </div>
    <div class="ui-toolbar-group-right">
      <button pButton type="button" label="communicate" icon="fa-comments"></button>
      <i class="fa fa-refresh" style="cursor:pointer;margin-left:5px;" (click)="onRefresh()"></i>
    </div>
  </p-toolbar>

  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-6">
        <p-dataGrid [value]="fleets" emptyMessage="&nbsp;" [rows]="1"
                    [hidden]="fleets.length === 0" [@grid-animation]="fleets.length">
          <ng-template let-fleet pTemplate="item">
            <p-panel [header]="fleet.name" styleClass="follow-panel" (click)="onFleet(fleet)" [@fleet-state]="fleet.state">
              <div style="text-align:center;">
                <img src="{{fleet.imageURL}}" width="75" height="55" style="object-fit:cover;">
              </div>
            </p-panel>
          </ng-template>
        </p-dataGrid>
      </div>
      <div *ngIf="selectedfleet != null" class="ui-grid-col-6">
        <p-dataList [value]="transporters" emptyMessage="...">
          <ng-template let-transporter pTemplate="item">
            <div class="follow-item" (click)="onTransporter(transporter,true)" [@transporter-state]="transporter.state">
              <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-grid-row" style="font-size:.95em;">
                  <div class="ui-grid-col-3"><span class="follow-item-text">{{transporter.name}}</span></div>
                  <div class="ui-grid-col-3"><span class="follow-item-text">{{transporter.marquee}}</span></div>
                  <div class="ui-grid-col-3"><span class="follow-item-text">{{transporter.latitude}}</span></div>
                  <div class="ui-grid-col-3"><span class="follow-item-text">{{transporter.longitude}}</span></div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataList>
      </div>
    </div>
  </div>

  <div *ngIf="selectedfleet != null" class="follow-workspace">
    <div class="follow-map-container">
      <p-gmap [options]="options" [overlays]="overlays"
              (onMapReady)="onMapReady($event)" (onMapClick)="onMapClick($event)" (onOverlayClick)="onOverlayClick($event)"
              [style]="{'width':'100%','height':'580px'}">
      </p-gmap>
    </div>
    <div *ngIf="showfollow" [@follower] class="follow-follow">
      <div style="border:2px solid #AAAABB;background:rgba(255,255,255,.5);margin-bottom:8px;text-align:center;padding:5px;">
        <span style="color:cornflowerblue;font-weight:bold;">following</span>
      </div>

      <div><img [src]="selectedtransporter.imageURL" width="75" height="50" class="follow-transporter-image"></div>
      <div><span style="font-weight:bold;">{{selectedtransporter.name}}</span></div>

      <div style="height:10px;"></div>

      <div class="follow-tab">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><p-checkbox [(ngModel)]="follow.notifyWhenArrive" (ngModelChange)="update()" binary="true" label="notify when arrive"></p-checkbox></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><p-checkbox [(ngModel)]="follow.notifyWhenDepart" (ngModelChange)="update()" binary="true" label="notify when depart"></p-checkbox></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><p-checkbox [(ngModel)]="follow.notifyWhenDelayed" (ngModelChange)="update()" binary="true" label="notify when delayed"></p-checkbox></div>
          </div>
          <div style="height:1px;background:#AAAAAA;margin:5px;"></div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><p-checkbox [(ngModel)]="follow.subscribeToMessages" (ngModelChange)="update()" binary="true" label="subscribe to messages"></p-checkbox></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><p-checkbox [(ngModel)]="follow.subscribeToWarnings" (ngModelChange)="update()" binary="true" label="subscribe to warnings"></p-checkbox></div>
          </div>
        </div>
      </div>

      <div style="font-size:1.25em;margin-left:4px;margin-top:8px;color:maroon;cursor:pointer;">
        <i class="fa fa-close" (click)="onHideFollow()"></i>
      </div>
    </div>
  </div>

  <!--
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  -->

</div>
