
.routes-assignment-edit-container {
  width: 512px;
  font-size: .85em;
  margin: 10px;
}

.routes-assignment-edit-label {
  color: cornflowerblue;
  font-weight: bold;
  font-style: italic;
}

.routes-assignment-edit-blurb {
  color: cornflowerblue;
}

.routes-assignment-edit-image {
  border-radius: 5px;
  border: 2px solid #BBBBBB;
}
