
.routes-container {
  flex-grow: 1;
  font-size: .85em;
  margin: 10px;
}

.routes-panel {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  width:172px;

  box-shadow: 3px 3px 5px rgba( 100,100,100,.25 );
  border-radius: 5px;
  border: 2px solid #BBBBBB;

  margin: 8px;

  cursor: pointer;
}
.routes-panel:hover {
  border: 2px solid #8899DD;
}

.routes-assignment {
  position: relative;
  border-radius: 5px;
  border: 2px solid #BBBBBB;
  text-align: right;
  margin-top: 5px;
  margin-left: 5px;
}
.routes-assignment-image {
  object-fit: cover;
  width: 74px;
  height: 62px;
  cursor: pointer;
}
.routes-assignment-x {
  position: absolute;
  color: #EEDDEE;
  border-top-left-radius: 5px;
  background-color: #BBBBBB;
  padding: 2px;
  padding-left: 4px;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}
.routes-assignment-x:hover {
  color: #FFDDEE;
}

.routes-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.routes-addresses {
  width: 100%;
  padding: 4px;
}

.routes-label {
  font-size: 9pt;
  font-weight: bold;
  color: cornflowerblue;
}

.routes-workspace {
  display: flex;
}

.routes-map-container {
  flex: 1;
  border: 2px solid #AAAABB;
}

.routes-chip-item {
  font-size: 10pt;

  background-color: inherit;
  border-radius: 5px;
  border: 1px solid #5566AA;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;

  cursor: pointer;
}

.routes-chip-item-x {
  color: #EEDDEE;
  margin-left: 3px;
  margin-right: 3px;
}
.routes-chip-item-x:hover {
  color: #FFDDEE;
}

.ui-toolbar {
  border: none;
  background-color: #DDDDEE;
}

.ui-datagrid {
  background: transparent;
  border: none;
}
.ui-datagrid-header {
  background: transparent;
  border: none;
}
.ui-datagrid-footer {
  background: transparent;
  border: none;
}
.ui-datagrid-content {
  background: transparent;
  border: none;
}

.ui-chips {
}
.ui-chips > ul {
  border: none;
  box-shadow: none;
  background: none;
  color: orange;
}
.ui-chips > ul.ui-inputtext:focus {
  border: none;
  box-shadow: none;
  background: none;
}
.ui-chips > ul:not(.ui-state-disablde).ui-state-focus {
  border: none;
  box-shadow: none;
  background: none;
}
.ui-chips-token {
  padding: 0;
  margin: 5px;
  background-color: #7788CC;
}
.ui-chips-token:hover {
  background-color: #6677BB;
}
.ui-chips-token:active {
  background-color: #6677BB;
}

.ui-chips-token-icon {
  visibility: hidden;
}

/*
 * hack to remove x close button on InfoWindow
 * https://stackoverflow.com/questions/18933367/gmaps-v3-infowindow-disable-the-close-x-button
 */
.gm-style-iw + div { display:none; }
.gm-style-iw { text-align:center; }

