
<div class="assignments-assignment-edit--container">

  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
      <div class="routes-assignment-edit-image">
        <img src="{{assignment.imageURL}}" height="78" style="object-fit:cover;">
      </div>
      <div class="routes-assignment-edit-blurb" style="max-width:320px;">
        <div>
          {{transporter.name}} {{transporter.number}}
        </div>
        <div style="margin-top:5px;">
          This transporter is assigned to this route.
          Your subscribers can track this transporter as it travels this route.
        </div>
      </div>
    </div>
  </div>

  <div style="height:20px;"></div>

  <p-toolbar>
    <div class="ui-toolbar-group-right">
      <span>&nbsp;</span>
      <!-- <button pButton type="button" label="remove this transporter" icon="fa-truck" (click)="onRemove()" class="ui-button-secondary" style="color:maroon;"></button> -->
      <button pButton type="button" label="ok" class="ui-button-secondary" (click)="onDone()"></button>
    </div>
  </p-toolbar>

</div>
