
.routes-assignment-new-container {
  width: 512px;
  font-size: .85em;
  margin: 10px;
}

.routes-assignment-new-fleet-panel {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  box-shadow: 3px 3px 5px rgba( 100,100,100,.25 );
  border-radius: 5px;
  border: 2px solid #BBBBBB;

  margin: 6px;

  cursor: pointer;
}

.routes-assignment-new-transporter-panel {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  box-shadow: 3px 3px 5px rgba( 100,100,100,.25 );
  border-radius: 5px;
  border: 2px solid #BBBBBB;

  margin: 5px;

  cursor: pointer;
}

.ui-datalist-content {
  margin-bottom: 5px;
  background: transparent;
  border: none;
}

.ui-datalist-data {
  height: 128px;
  overflow: auto;
}

.ui-datagrid {
  background: transparent;
  border: none;
}
.ui-datagrid-header {
  background: transparent;
  border: none;
}
.ui-datagrid-footer {
  background: transparent;
  border: none;
}
.ui-datagrid-content {
  background: transparent;
  border: none;
}



