
<div class="waypoints-waypoint-edit--container">

  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-6">
        <span class="routes-waypoint-edit--label">name</span>
        <input pInputText type="text" [(ngModel)]="waypoint.name" (ngModelChange)="modelChange()"/>
      </div>
      <div class="ui-grid-col-6">
        <span class="routes-waypoint-edit--label">description</span>
        <input pInputText type="text" [(ngModel)]="waypoint.description" (ngModelChange)="modelChange()"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-6">
        <span class="routes-waypoint-edit-label">type</span>
        <input pInputText type="text" [(ngModel)]="waypoint.type" (ngModelChange)="modelChange()"/>
      </div>
      <div class="ui-grid-col-6">
        <span class="routes-waypoint-edit-label">category</span>
        <input pInputText type="text" [(ngModel)]="waypoint.category" (ngModelChange)="modelChange()"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <span class="routes-waypoint-edit-label">address</span>
        <div style="display:flex;flex-direction:row;">
          <input pInputText type="text" [(ngModel)]="waypoint.address" (ngModelChange)="modelChange()" style="flex:1;"/>
          <!--<i class="fa fa-globe" (click)="onSearchAddress()" style="color:blue;cursor:pointer;font-size:15pt;margin-left:5px;"></i>-->
        </div>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-6">
        <span class="routes-waypoint-edit-label">latitude</span>
        <input pInputText type="number" [(ngModel)]="waypoint.latitude" (ngModelChange)="modelChange()"/>
      </div>
      <div class="ui-grid-col-6">
        <span class="routes-waypoint-edit-label">longitude</span>
        <input pInputText type="number" [(ngModel)]="waypoint.longitude" (ngModelChange)="modelChange()"/>
      </div>
    </div>
  </div>

  <div style="height:20px;"></div>

  <p-toolbar>
    <div class="ui-toolbar-group-right">
      <span>&nbsp;</span>
      <button pButton type="button" label="done" icon="fa-check" (click)="onDone()"></button>
    </div>
  </p-toolbar>

</div>
