
<div class="routes-container">

  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <input *ngIf="selectedroute != null" #search type="text" pInputText placeholder="where" (keyup.enter)="onSearch(search.value)">
    </div>
    <div class="ui-toolbar-group-right">
      <button pButton type="button" label="add a route" icon="fa-arrows" (click)="onAddRoute()"></button>
      <button pButton type="button" label="delete route" icon="fa-arrows" (click)="onDeleteRoute()" *ngIf="selectedroute != null" class="ui-button-secondary" style="color:maroon;"></button>
      <button pButton type="button" label="add a waypoint" icon="fa-map-marker" (click)="onAddWaypoint()" *ngIf="selectedroute != null"></button>
      <button pButton type="button" label="add a transporter" icon="fa-truck" (click)="onAddAssignment()" *ngIf="selectedroute != null"></button>

      <i *ngIf="selectedroute != null" class="fa fa-compress" style="cursor:pointer;margin-left:5px;margin-right:5px;" (click)="onZoomMapToRoute()"></i>
      <i *ngIf="selectedroute != null" class="fa fa-window-restore" style="cursor:pointer;margin-left:5px;margin-right:5px;" (click)="onToggleAllInfoWindows()"></i>
      <i class="fa fa-refresh" style="cursor:pointer;margin-left:5px;" (click)="onRefresh()"></i>
    </div>
  </p-toolbar>

  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-9">
        <p-dataGrid [value]="routes" emptyMessage="&nbsp;" [rows]="1" [hidden]="routes.length === 0" [@grid-animation]="routes.length">
          <ng-template let-route pTemplate="item">
            <p-panel [header]="route.name" styleClass="routes-panel" (click)="onRoute(route)" [@route-state]="route.state">
              <img *ngIf="(route.imageURL != null) && (route.imageURL.length > 0)" src="{{route.imageURL}}" width="75" height="50" style="object-fit: cover;">
              <div class="routes-text">{{route.type}}</div>
            </p-panel>
          </ng-template>
        </p-dataGrid>
      </div>
      <div class="ui-grid-col-3">
        <p-dataGrid [value]="assignments" emptyMessage="&nbsp;" [rows]="1" [hidden]="assignments.length === 0" [@grid-animation]="assignments.length" [style]="{'float':'right'}">
          <ng-template let-assignment pTemplate="item">
            <div class="routes-assignment">
              <img class="routes-assignment-image" src="{{assignment.imageURL}}" (click)="onAssignment(assignment)">
              <span class="routes-assignment-x" (click)="onRemoveAssignment(assignment)"><i class="fa fa-remove"></i></span>
            </div>
          </ng-template>
        </p-dataGrid>
      </div>
    </div>
  </div>

  <div *ngIf="selectedroute != null" [@route-edit]>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <span class="routes-label">name</span>
          <input pInputText type="text" placeholder="" [(ngModel)]="selectedroute.name" (ngModelChange)="onRouteFieldsChanged()"/>
        </div>
        <div class="ui-grid-col-4">
          <span class="routes-label">description</span>
          <input pInputText type="text" placeholder="" [(ngModel)]="selectedroute.description" (ngModelChange)="onRouteFieldsChanged()"/>
        </div>
        <div class="ui-grid-col-4">
          <span class="routes-label">type</span>
          <input pInputText type="text" placeholder="" [(ngModel)]="selectedroute.type" (ngModelChange)="onRouteFieldsChanged()"/>
        </div>
        <div class="ui-grid-col-4">
          <span class="routes-label">category</span>
          <input pInputText type="text" placeholder="" [(ngModel)]="selectedroute.category" (ngModelChange)="onRouteFieldsChanged()"/>
        </div>
      </div>
    </div>

    <p-chips [(ngModel)]="waypoints" [addOnTab]="true" (onAdd)="onAddWaypointFromChips($event.value)">
      <ng-template let-waypoint let-i="index" pTemplate="item">
        <div class="routes-chip-item"
             pDraggable="chipdragdrop"
             pDroppable="chipdragdrop"

             (onDragStart)="chipDragStart($event,waypoint)"
             (onDrag)="chipDrag($event,waypoint)"
             (onDragEnd)="chipDragEnd($event,waypoint)"

             (onDragEnter)="chipDragEnter($event,waypoint)"
             (onDrop)="chipDrop($event,waypoint)"
             (onDragLeave)="chipDragLeave($event,waypoint)"

             (click)="onWaypoint(waypoint)" (dblclick)="onEditWaypoint(waypoint)">

          <i *ngIf="waypoint.index === 0" class="fa fa-play-circle" style="color:lightgreen;"></i>
          <i *ngIf="waypoint.index === (waypoints.length-1)" class="fa fa-stop-circle" style="color:pink;"></i>

          <span *ngIf="(waypoint.index > 0) && (waypoint.index < (waypoints.length-1))" style="color:#BBBBCC;">{{waypoint.index}}</span>
          <span [style.color]="focusedwaypoint === waypoint ? '#FFFFFF' : '#F4F4F4'"
                [style.font-size.pt]="focusedwaypoint === waypoint ? '11' : '10'">
            {{waypoint.name}}
          </span>

          <span class="routes-chip-item-x" (click)="onRemoveWaypointFromChips(waypoint)"><i class="fa fa-remove"></i></span>
          <i *ngIf="!isEndpoint(waypoint)" class="fa fa-arrow-right"></i>
        </div>
      </ng-template>
    </p-chips>
  </div>

  <div style="height:5px;"></div>

  <div class="routes-workspace" *ngIf="selectedroute != null" [@route-map]>
    <div class="routes-map-container">
      <p-gmap [options]="options" [overlays]="overlays"
              (onMapReady)="mapReady($event)"
              (onMapClickXXX)="mapClick($event)"
              (dblclickXXX)="mapDblClick($event)"
              (onOverlayClick)="overlayClick($event)"
              (onOverlayDragEnd)="overlayDragEnd($event)"
              [style]="{'width':'100%','height':'580px'}">
      </p-gmap>
    </div>
  </div>

</div>

<p-dialog [(visible)]="showroutesnew" [modal]="true" [resizable]="true" appendTo="body">
  <p-header>add a new route</p-header>
  <app-routes-new *ngIf="showroutesnew" (finished)="onFinishedRoutesNew()"></app-routes-new>
</p-dialog>

<p-dialog [(visible)]="showwaypointnew" [modal]="true" [resizable]="true" appendTo="body">
  <p-header>add a new waypoint</p-header>
  <app-routes-waypoint-new *ngIf="showwaypointnew && (waypointTemplate !== null) && (waypointTemplate.routeid !== null)"
                           [index]="waypointTemplate.index"
                           [routeid]="waypointTemplate.routeid"
                           [name]="waypointTemplate.name"
                           [type]="waypointTemplate.type"
                           [address]="waypointTemplate.address"
                           [lat]="waypointTemplate.latitude"
                           [lng]="waypointTemplate.longitude"

                           [places]="places"

                           (finished)="onFinishedWaypointNew($event)">
  </app-routes-waypoint-new>
</p-dialog>

<p-dialog [(visible)]="showwaypointedit" [modal]="true" [resizable]="true" appendTo="body">
  <p-header>edit waypoint</p-header>
  <app-routes-waypoint-edit *ngIf="showwaypointedit"
                            [id]="showwaypointeditid"
                            (finished)="onFinishedWaypointEdit()">
  </app-routes-waypoint-edit>
</p-dialog>

<p-dialog [(visible)]="showassignmentnew" [modal]="true" [resizable]="true" appendTo="body">
  <p-header>add a transporter</p-header>
  <app-routes-assignment-new *ngIf="showassignmentnew"
                            [routeid]="selectedroute.id"
                            (finished)="onFinishedAssignmentNew()">
  </app-routes-assignment-new>
</p-dialog>

<p-dialog [(visible)]="showassignmentedit" [modal]="true" [resizable]="true" appendTo="body">
  <p-header>assigned transporter</p-header>
  <app-routes-assignment-edit *ngIf="showassignmentedit"
                         [id]="showassignmenteditid"
                         (finished)="onFinishedAssignmentEdit()">
  </app-routes-assignment-edit>
</p-dialog>

