
<div class="content-container">

  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <img src="assets/working.gif" [style.opacity]="working ? .5 : 0">
      <span class="follow-note">&nbsp;{{followingnote}}&nbsp;</span>
    </div>
    <div class="ui-toolbar-group-right">
      <button pButton disabled type="button" label="find a ride" icon="fa-truck" (click)="onFindARide()"></button>
      <i *ngIf="selectedfleet != null" class="fa fa-compress" style="cursor:pointer;margin-left:5px;margin-right:5px;" (click)="onZoomMapToFleet()"></i>
      <i class="fa fa-refresh" style="cursor:pointer;margin-left:5px;" (click)="onRefresh()"></i>
    </div>
  </p-toolbar>

  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-9">
        <p-dataGrid #followdatagrid [value]="fleets" emptyMessage="&nbsp;" [rows]="1" [hidden]="followdatagrid.isEmpty()" [@grid-animation]="fleets.length">
          <ng-template let-fleet pTemplate="item">
            <div class="card" (click)="onFleet(fleet)" [@active-state]="fleet.state">
              <img class="card-image" src="{{fleet.imageURL}}">
              <div class="card-footer">
                <div class="card-title">{{fleet.name}}</div>
                <i *ngIf="isShared(fleet)" class="fa fa-share-alt" style="color:#AAFFFF;"></i>
              </div>
            </div>
          </ng-template>
        </p-dataGrid>
      </div>

      <div class="ui-grid-col-3">
        <div *ngIf="selectedfleet != null">
          <app-follow-transporters  [ownerid]="ownerid" [fleetid]="selectedfleet.id" (transporterselection)="onTransporterSelection($event)"></app-follow-transporters>
        </div>
      </div>
    </div>
  </div>

  <div class="follow-map-container" [@hide-show]="followmaphideshow">
    <p-gmap [options]="options"
            (onMapReady)="onMapReady($event)"
            [style]="{'width':'100%','height':'580px'}">
    </p-gmap>
    <app-follow-map *ngIf="selectedfleet != null" [map]="map" [ownerid]="ownerid" [fleet]="selectedfleet" [transporterid]="selectedtransporterid"></app-follow-map>
  </div>

</div>
