
.follow-transporter-item {
  display: flex;
  flex-direction: row;
  background-color: #CCCCDD;
  margin-bottom: 2px;
  padding: 4px;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
  text-shadow: 1px 1px 4px #888888;
}
.follow-transporter-item:hover {
  background-color: #C0C0D0;
}
.follow-transporter-item:active {
  background-color: #BBBBCC;
}
