
<div class="app-container">

  <p-confirmDialog header="Confirmation" icon="fa fa-exclamation-triangle" width="350" appendTo="body"></p-confirmDialog>

  <div class="app-header">
    <div class="app-header-bar">
      <div class="app-header-icon" style="margin-left:0px;"><i class="fa fa-caret-square-o-left" (click)="sidenav.toggle()" [@sidenav-animation]="sidenavstate"></i></div>
      <img src="assets/arreev-lite-icon.png" style="margin-left:25px;" (click)="onArreev()" height="36px">
      <div>
        <img *ngFor="let letter of letters" src="assets/{{letter}}.png" height="22px" style="margin-left:2px;">
      </div>
      <i class="fa fa-home" style="cursor:pointer;color:#EEFFFF;font-size:18pt;margin-left:25px;" (click)="onHome()"></i>
      <span style="font-size:.65em;color:#AACCDD;margin-left:20px;margin-top:13px;">V1.0028</span>
    <span class="spacer"></span>
      <div class="ui-inputgroup" style="font-size:10pt;margin-right:25px;">
        <input type="text" pInputText placeholder="search" size="30">
      </div>

      <!-- <div class="app-header-icon" style="margin-left:5px;margin-right:15px;"><i class="fa fa-search"></i></div> -->

      <div style="width:15px;"></div>
      <div class="app-header-icon"><i class="fa fa-user-circle-o" style="cursor:pointer;" [style.color]="signedin ? '#FFFFFF' : '#DDDDDD'" (click)="onMyAccount()" pTooltip="{{myaccounttooltip}}" showDelay="750"></i></div>
      <div class="app-header-icon"><i class="fa fa-commenting-o" pTooltip="communiques" showDelay="750"></i></div>
      <div class="app-header-icon"><i class="fa fa-cog" pTooltip="settings" showDelay="750"></i></div>
      <div class="app-header-icon"><i class="fa fa-info-circle" pTooltip="info" showDelay="750" (click)="onInfo()"></i></div>
      <div style="width:15px;"></div>

      <div class="app-header-icon" (click)="sidebar.toggle()" [@sidebar-animation]="sidebarstate"><i class="fa fa-caret-square-o-left"></i></div>
    </div>
  </div>

  <mat-sidenav-container class="app-content">
    <mat-sidenav #sidenav mode="side" opened="true" position="start" class="app-sidenav" (openedStart)="openedSidenavStart()" (closedStart)="closedSidenavStart()">
      <app-nav></app-nav>
    </mat-sidenav>
    <div class="app-editor">
      <router-outlet></router-outlet>
    </div>
    <mat-sidenav #sidebar mode="side" opened="false" position="end" class="app-sidebar" (openedStart)="openedSidebarStart()" (closedStart)="closedSidebarStart()">
      <app-bar></app-bar>
    </mat-sidenav>
  </mat-sidenav-container>

  <div class="app-footer">
    <div class="app-footer-bar">
      <span style="font-size:10pt;color:white;font-weight:normal;">&copy; arreev.com All rights reserved.</span>
      <span class="spacer"></span>
      <img src="assets/arreev-lite-icon.png" height="18">
    </div>
  </div>

</div>

<p-dialog [(visible)]="showinfo" [modal]="true" [resizable]="false">
  <p-header>Arreev</p-header>
  <div>
    Version: 1.000<br>
    Build: 02-20-2018-08:23PM<br>
  </div>
</p-dialog>
