
<div class="app-container">

  <div class="app-header">
    <div class="app-header-bar">
      <div class="app-header-icon"><i class="fa fa-bars animated bounce" style="cursor:pointer;" (click)="sidenav.toggle()"></i></div>
      <img src="assets/arreev-icon.png" style="margin-left:15px;cursor:pointer;" (click)="onArreev()">
      <span (click)="onArreev()" style="cursor:pointer;margin-left:-5px;font-weight:bold;font-size:24pt;color:white;text-shadow: 2px 2px rgba( 0,0,0,.5 );">arreev</span>
      <span class="spacer"></span>
      <div class="ui-inputgroup" style="font-size:9pt;">
        <input type="text" pInputText placeholder="" size="30">
      </div>
      <div class="app-header-icon" [@app-fade]="void" style="margin-left:5px;margin-right:15px;"><i class="fa fa-search"></i></div>
      <div style="width:15px;"></div>
      <div *ngIf="!avataravailable" class="app-header-icon"><i class="fa fa-user-circle-o" style="cursor:pointer;" (click)="onAccount()" pTooltip="my account" showDelay="750"></i></div>
      <img *ngIf="avataravailable" src="{{avatarURL$|async}}" border="0" width="28px" style="cursor:pointer;" (click)="onAccount()" pTooltip="my account" showDelay="750"/>
      <div *ngIf="!loggedin" class="app-header-icon"><i class="fa fa-sign-in" (click)="onLogin()" pTooltip="sign in" showDelay="750"></i></div>
      <div *ngIf="loggedin" class="app-header-icon"><i class="fa fa-sign-out" (click)="onLogout()" pTooltip="sign out" showDelay="750"></i></div>
      <div class="app-header-icon"><i class="fa fa-commenting-o" pTooltip="communiques" showDelay="750"></i></div>
      <div class="app-header-icon"><i class="fa fa-cog" pTooltip="settings" showDelay="750"></i></div>
      <div style="width:15px;"></div>
      <div class="app-header-icon" [@app-component-yellow]="void" (click)="sidebar.toggle()"><i class="fa fa-ellipsis-v"></i></div>
    </div>
  </div>

  <mat-sidenav-container class="app-content">
    <mat-sidenav #sidenav mode="side" opened="true" position="start" class="app-sidenav">
      <app-nav></app-nav>
    </mat-sidenav>
    <div class="app-editor">
      <router-outlet></router-outlet>
    </div>
    <mat-sidenav #sidebar mode="side" opened="true" position="end" class="app-sidebar">
      <app-bar></app-bar>
    </mat-sidenav>
  </mat-sidenav-container>

  <div class="app-footer">
    <div class="app-footer-bar">
      <span style="font-size:10pt;color:white;">copyright arreev</span>
      <span class="spacer"></span>
      <img src="assets/arreev-icon.png" style="width:24px;height:20px;">
    </div>
  </div>

</div>

<!--
<div #appcontainer class="app-container">
  <div class="app-header">
    <button pButton type="button" icon="fa-bars" (click)="sidenav.toggle()"></button>

    <img src="assets/arreev-icon.png" style="margin-left:20px;cursor:pointer;" (click)="onArreev()">
    <span style="margin-left:-5px;font-weight:bold;font-size:24pt;color:white;text-shadow: 2px 2px rgba( 0,0,0,.5 );">arreev</span>

    <span class="spacer"></span>

    <div class="ui-inputgroup" style="font-size:9pt;">
      <input type="text" pInputText placeholder="" size="30">
    </div>
    <div class="app-header-icon" style="margin-left:5px;margin-right:15px;"><i class="fa fa-search"></i></div>

    <div style="width:15px;"></div>

    <img src="{{avatarURL$|async}}" border="0" width="28px" style="cursor:pointer;"/>

    <div class="app-header-icon"><i class="fa fa-sign-in"></i></div>
    <div class="app-header-icon"><i class="fa fa-commenting-o"></i></div>
    <div class="app-header-icon"><i class="fa fa-cog"></i></div>

    <div style="width:15px;"></div>

    <div class="app-header-icon" style="margin-left:10px;margin-right:10px;"><i class="fa fa-ellipsis-v"></i></div>
  </div>

  <mat-sidenav-container class="app-sidenav-container" autosize>
    <mat-sidenav #sidenav mode="side" opened="true" class="app-sidenav">
      <app-nav></app-nav>
    </mat-sidenav>
    <section style="padding:8px;height:100%;">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-container>

  <div class="app-footer">
    <span style="font-size:10pt;color:white;">copyright arreev</span>
    <span class="spacer"></span>
    <img src="assets/arreev-icon.png" style="width:28px;height:24px;">
  </div>
</div>
-->
