
<div class="nav-flex">

  <div class="ui-grid ui-grid-responsive ui-fluid" style="max-height:512px;overflow-y:auto;overflow-x:hidden;padding-left:15px;padding-right:5px;margin-top:25px;">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <button *ngIf="currentroute != 'fleet'" pButton type="button" label="fleets" [className]="navbutton" icon="fa-bus" (click)="onContent( 'fleet' )"></button>
        <button *ngIf="currentroute == 'fleet'" pButton type="button" label="fleets" [className]="navbuttonselected" icon="fa-bus" (click)="onContent( 'fleet' )"></button>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <button *ngIf="currentroute != 'routes'" pButton type="button" label="routes" [className]="navbutton" icon="fa-map-marker" (click)="onContent( 'routes' )"></button>
        <button *ngIf="currentroute == 'routes'" pButton type="button" label="routes" [className]="navbuttonselected" icon="fa-map-marker" (click)="onContent( 'routes' )"></button>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <button *ngIf="currentroute != 'times'" pButton type="button" label="times" [className]="navbutton" icon="fa-clock-o" (click)="onContent( 'times' )"></button>
        <button *ngIf="currentroute == 'times'" pButton type="button" label="times" [className]="navbuttonselected" icon="fa-clock-o" (click)="onContent( 'times' )"></button>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <button *ngIf="currentroute != 'events'" pButton type="button" label="events" [className]="navbutton" icon="fa-bell" (click)="onContent( 'events' )"></button>
        <button *ngIf="currentroute == 'events'" pButton type="button" label="events" [className]="navbuttonselected" icon="fa-bell" (click)="onContent( 'events' )"></button>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <button *ngIf="currentroute != 'people'" pButton type="button" label="people" [className]="navbutton" icon="fa-user" (click)="onContent( 'people' )"></button>
        <button *ngIf="currentroute == 'people'" pButton type="button" label="people" [className]="navbuttonselected" icon="fa-user" (click)="onContent( 'people' )"></button>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-12">
        <button *ngIf="currentroute != 'follow'" pButton type="button" label="follow" [className]="navbutton" icon="fa-globe" (click)="onContent( 'follow' )"></button>
        <button *ngIf="currentroute == 'follow'" pButton type="button" label="follow" [className]="navbuttonselected" icon="fa-globe" (click)="onContent( 'follow' )"></button>
      </div>
    </div>
    <!--<div class="ui-grid-row">-->
      <!--<div class="ui-grid-col-12">-->
        <!--<button *ngIf="currentroute != 'utrack'" pButton type="button" label="u-track" [className]="navbutton" icon="fa-user-secret" (click)="onContent( 'utrack' )"></button>-->
        <!--<button *ngIf="currentroute == 'utrack'" pButton type="button" label="u-track" [className]="navbuttonselected" icon="fa-user-secret" (click)="onContent( 'utrack' )"></button>-->
      <!--</div>-->
    <!--</div>-->

  </div>

  <div style="flex-grow: 1;"></div>

  <div style="padding:8px;">
    <span style="font-size:8pt;color:#888888;">ADVERTISEMENT</span>
    <a href="https://f.wishabi.net/page_item_supplemental_infos/107044030/1516914861/extra_large">
      <img src="https://f.wishabi.net/page_item_supplemental_infos/107044030/1516914861/extra_large" width="200" height="200" style="text-align:center;">
    </a>
  </div>

</div>
