
.chip-item {
  padding: 6px;

  background-color: #9999CC;
  border:1px solid #7777AA;
  border-radius: 6px;

  color: #FFFFFF;

  cursor: pointer;
}
.chip-item:hover {
  background-color: #9090C0;
}

